.ProjectCardList {
  columns: 3 30rem;
  column-gap: 1.6rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.decorate {
  color: var(--main-color);
}

.lastProjectsTitle {
  font-size: var(--h2-font);
  margin-bottom: 2rem;
  text-align: center;
  color: var(--text-color);
}
