.button {
  color: var(--bg-color);
  font-size: var(--p-font);
  padding: 0.8rem 1.2rem;
  border: none;
  background-color: var(--main-color);
  border-radius: 0.4rem;
}

/* .button :hover {
  background-color: var(--color-red-500);
} */
